body{
    background-color: black;
    color: white;
}

.ball {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    
    background-color: violet;
    border-radius: 50%;
    text-align: center;
}