body {
    background-color: black;
    color: white;
}

.ball {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 50px auto;

    background-color: skyblue;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;
    transition: 1s;
}

.another-ball {
    width: 100px;
    height: 100px;

    background-color: violet;
    border-radius: 50%;

    cursor: pointer;
    transition: 1s;
}

.ball3 {
    display: flex;
    width: 100px;
    height: 100px;
    margin: auto;

    background-color: crimson;
    border-radius: 50%;
    justify-content: center;
    align-items: center;


    cursor: pointer;
}

.ball4 {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 30px auto;

    background-color: palevioletred;
    border-radius: 50%;
    justify-content: center;
    align-items: center;


    cursor: pointer;
}